<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.starot.larger">

    <application>

        <activity
            android:name=".act.ImageLargerAct"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/custom_larger" />
    </application>

</manifest>